.portfolio {
    padding: 120px 15px;
}

.portfolio .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}

.portfolio .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card-content {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.portfolio-card-content .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    padding-bottom: 8px;
}

.portfolio-card-content .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    color: #434455;
}

